{% extends 'home/base.html' %}

{% block title %} Blog {% endblock title %}

<!-- run this into inspect console -->
<!-- document.getElementsByClassName('preview')[2].innerHTML = document.getElementsByClassName('preview')[2].innerText -->
{% block js %}
<script>
let previews = document.getElementsByClassName('preview');
Array.from(previews).forEach((element)=>{
    element.innerHTML = element.innerText;
})
</script>
{% endblock js %}


{% block blogactive %} active {% endblock blogactive %}


{% block body %}

<div class="container my-3">
    <h2>Coding articles by iCoder</h2>


{% for post in allPosts %}


    <div class="col-md-6">
        <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 my-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-success">Article by {{post.author}} ({{post.views}} views)</strong>
            <h3 class="mb-0"><a class="text-dark" href="/blog/{{post.slug}}">{{post.title}}</a></h3>
            <div class="mb-1 text-muted">{{post.datetime}}</div>
            <p class="card-text mb-auto"><div class="preview">{{post.content|safe|truncatechars:300}}</div></p>

          <div class="my-2">
          <a href="/blog/{{post.slug}}" role= "button" class="btn btn-success">Continue reading</a>
          </div>
          </div>
          <div class="col-auto d-none d-lg-block">
          </div>
        </div>
      </div>

      {% endfor %}
</div>

{% endblock body %}